.wrap {
  position: relative;
}

.list,
.empty {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  left: 0;
  position: absolute;
  top: 0;
}

.list {
  margin: 0;
  max-height: 240px;
  width: 100%;
  overflow: auto;
}

.listItem {
  cursor: pointer;
  padding: 4px 6px;

  &.active {
    background: $primary-color;
    color: $primary-background-color;
  }
}

.empty {
  color: #ccc;
  font-style: italic;
  padding: 4px 6px;
}
